In [4]:
import pandas as pd
from mysql import connector
from dotenv import load_dotenv
import os
from datetime import datetime

import warnings

# Coursera

In [5]:
load_dotenv()

username = os.getenv('DB_USER')
password = os.getenv('DB_PASSWORD')
host = os.getenv('DB_HOST')
DB = 'Coursera'

In [6]:
conn = connector.connect(user=username,
                         password=password,
                         host=host,
                         database=DB)

In [7]:
df_compras = pd.read_sql('''SELECT * FROM compras;''', conn)

/tmp/ipykernel_891/1989898025.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_compras = pd.read_sql('''SELECT * FROM compras;''', conn)

In [8]:
df_compras

,id_compra,id_curso,id_usuario,fecha,fecha_visualizacion,fecha_inicio,fecha_fin,interrupcion,longitud,latitud,calificacion,costo_servicio
0,25,8,6,2023-10-16,2023-10-16,2023-10-16,2023-10-16,None,-75.2211,-0.705623,8,35.64
1,26,4,5,2023-10-16,2023-10-16,2023-10-16,2023-10-16,None,-72.4756,0.593246,4,10.91
2,27,5,3,2023-10-16,2023-10-16,2023-10-16,2023-10-16,None,-73.1557,11.862200,1,81.03
3,28,1,3,2023-10-16,2023-10-16,2023-10-16,2023-10-16,None,-72.7995,6.186810,8,51.11
4,29,5,4,2023-10-16,2023-10-16,2023-10-16,2023-10-16,None,-72.3695,8.961610,6,33.24
5,30,3,7,2023-10-16,2023-10-16,2023-10-16,2023-10-16,None,-67.1479,-3.851860,10,36.37
6,31,6,1,2023-10-16,2023-10-16,2023-10-16,2023-10-16,None,-72.6311,0.710913,4,54.09
7,32,2,8,2023-10-16,2023-10-16,2023-10-16,2023-10-16,None,-75.1610,7.929000,3,72.94
8,33,1,8,2023-10-16,2023-10-16,2023-10-16,2023-10-16,None,-68.3231,-2.492100,8,72.91
9,34,8,2,2023-10-16,2023-10-16,2023-10-16,2023-10-16,None,-67.6012,7.570650,1,97.13

In [9]:
df_compras.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id_compra            10 non-null     int64
 1   id_curso             10 non-null     int64
 2   id_usuario           10 non-null     int64
 3   fecha                10 non-null     datetime64[ns]
 4   fecha_visualizacion  10 non-null     datetime64[ns]
 5   fecha_inicio         10 non-null     datetime64[ns]
 6   fecha_fin            10 non-null     datetime64[ns]
 7   interrupcion         0 non-null      object
 8   longitud             10 non-null     float64
 9   latitud              10 non-null     float64
 10  calificacion         10 non-null     int64
 11  costo_servicio       10 non-null     float64
dtypes: datetime64[ns](4), float64(3), int64(4), object(1)
memory usage: 1.1+ KB

In [10]:
filename = DB+'_' + str(datetime.now().date()) + '.csv'
filename

'Coursera_2023-10-17.csv'

In [11]:
df_compras.to_csv(filename, index=False, date_format='%Y-%M-%d')

# Udemy

In [12]:
DB = 'Udemy'

In [13]:
conn = connector.connect(user=username,
                         password=password,
                         host=host,
                         database=DB)

In [14]:
df_compras = pd.read_sql("SELECT * FROM compras;", conn)

/tmp/ipykernel_891/1021947071.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_compras = pd.read_sql("SELECT * FROM compras;", conn)

In [15]:
df_compras

,id_compra,id_curso,id_usuario,fecha,fecha_visualizacion,fecha_inicio,fecha_fin,interrupcion,longitud,latitud,id_plataforma,calificacion,costo_servicio
0,1,1,114,2022-09-15 14:00:00,2022-09-16 08:30:00,2022-09-16 09:00:00,2022-09-25 12:30:00,Problema de conectividad,48.8566,2.3522,2,4,44.99
1,2,5,115,2022-08-25 12:45:00,2022-08-26 11:00:00,2022-08-26 11:15:00,2022-09-04 15:30:00,None,40.7128,-74.0060,1,3,34.99
2,3,6,116,2022-07-30 10:30:00,2022-07-31 13:45:00,2022-07-31 14:00:00,2022-08-09 16:45:00,Interrupción técnica,34.0522,-118.2440,3,4,39.99
3,4,7,117,2022-06-10 11:00:00,2022-06-11 09:15:00,2022-06-11 09:30:00,2022-06-20 14:30:00,None,41.8781,-87.6298,1,5,59.99
4,5,8,118,2022-05-20 09:15:00,2022-05-21 08:30:00,2022-05-21 09:00:00,2022-05-30 12:45:00,Problema de conectividad,51.5074,-0.1278,2,4,29.99
5,6,9,119,2022-04-25 13:45:00,2022-04-26 09:30:00,2022-04-26 10:00:00,2022-05-05 14:15:00,None,35.6828,139.7590,3,3,49.99
6,7,11,120,2022-03-15 15:00:00,2022-03-16 13:15:00,2022-03-16 13:30:00,2022-03-25 17:45:00,None,52.5200,13.4050,1,4,39.99
7,8,6,111,2022-03-08 10:00:00,2022-03-09 09:15:00,2022-03-09 09:30:00,2022-03-18 11:45:00,None,40.7128,-74.0060,2,5,59.99
8,9,2,111,2022-02-15 09:30:00,2022-02-16 08:45:00,2022-02-16 09:00:00,2022-02-25 12:30:00,None,34.0522,-118.2440,1,4,49.99

In [16]:
df_compras.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id_compra            9 non-null      int64
 1   id_curso             9 non-null      int64
 2   id_usuario           9 non-null      int64
 3   fecha                9 non-null      datetime64[ns]
 4   fecha_visualizacion  9 non-null      datetime64[ns]
 5   fecha_inicio         9 non-null      datetime64[ns]
 6   fecha_fin            9 non-null      datetime64[ns]
 7   interrupcion         3 non-null      object
 8   longitud             9 non-null      float64
 9   latitud              9 non-null      float64
 10  id_plataforma        9 non-null      int64
 11  calificacion         9 non-null      int64
 12  costo_servicio       9 non-null      float64
dtypes: datetime64[ns](4), float64(3), int64(5), object(1)
memory usage: 1.0+ KB

In [17]:
filename = DB+'_' + str(datetime.now().date()) + '.csv'
filename

'Udemy_2023-10-17.csv'

In [18]:
df_compras.to_csv(filename, index=False, date_format='%Y-%M-%d')

In [19]:
str(datetime.now())

'2023-10-17 17:31:28.624208'

In [20]:
cities = pd.read_csv('cities.csv')
cities

,CIUDAD,CIUDADGEO2,CIUDADGEO3,PAIS,PAISGEO2,PAISGEO3
0,Nueva York,NY,NYC,Estados Unidos,US,USA
1,Los Ángeles,CA,LAX,Estados Unidos,US,USA
2,Chicago,IL,CHI,Estados Unidos,US,USA
3,Houston,TX,HOU,Estados Unidos,US,USA
4,Phoenix,AZ,PHX,Estados Unidos,US,USA
5,Philadelphia,PA,PHL,Estados Unidos,US,USA
6,San Antonio,TX,SAT,Estados Unidos,US,USA
7,San Diego,CA,SAN,Estados Unidos,US,USA
8,Dallas,TX,DFW,Estados Unidos,US,USA
9,San José,CA,SJC,Estados Unidos,US,USA
10,Jacksonville,FL,JAX,Estados Unidos,US,USA
11,Indianápolis,IN,IND,Estados Unidos,US,USA
12,Austin,TX,AUS,Estados Unidos,US,USA
13,San Francisco,CA,SFO,Estados Unidos,US,USA
14,Columbus,OH,CMH,Estados Unidos,US,USA
15,Charlotte,NC,CLT,Estados Unidos,US,USA
16,Fort Worth,TX,FTW,Estados Unidos,US,USA
17,Detroit,MI,DTW,Estados Unidos,US,USA
18,El Paso,TX,ELP,Estados Unidos,US,USA
19,Memphis,TN,MEM,Estados Unidos,US,USA
20,Baltimore,MD,BWI,Estados Unidos,US,USA
21,Boston,MA,BOS,Estados Unidos,US,USA
22,Seattle,WA,SEA,Estados Unidos,US,USA
23,Washington,DC,DCA,Estados Unidos,US,USA
24,Nashville,TN,BNA,Estados Unidos,US,USA
25,Denver,CO,DEN,Estados Unidos,US,USA
26,Milwaukee,WI,MKE,Estados Unidos,US,USA
27,Portland,OR,PDX,Estados Unidos,US,USA
28,Oklahoma City,OK,OKC,Estados Unidos,US,USA
29,Las Vegas,NV,LAS,Estados Unidos,US,USA
30,Albuquerque,NM,ABQ,Estados Unidos,US,USA
31,Bogota,BO,BOG,Colombia,CO,COL
32,Medellin,ME,MED,Colombia,CO,COL
33,Cali,CA,CAL,Colombia,CO,COL
34,San Andres y Providencia,SA,SAP,Colombia,CO,COL
35,Cartagena,CT,CTG,Colombia,CO,COL
36,Barranquilla,BA,BAQ,Colombia,CO,COL
37,Santa Marta,SM,SMT,Colombia,CO,COL

In [21]:
city = cities.sample()
city

    CIUDAD CIUDADGEO2 CIUDADGEO3            PAIS PAISGEO2 PAISGEO3
21  Boston         MA        BOS  Estados Unidos       US      USA

In [22]:
city['CIUDAD'].values

array(['Boston'], dtype=object)