In [1]:
import pandas as pd
from mysql import connector
from dotenv import load_dotenv
import os
from datetime import datetime

import warnings

# Coursera

In [ ]:
load_dotenv()

username = os.getenv('DB_USER')
password = os.getenv('DB_PASSWORD')
host = os.getenv('DB_HOST')
DB = 'Coursera'

In [ ]:
conn = connector.connect(user=username,
                         password=password,
                         host=host,
                         database=DB)

In [ ]:
df_compras = pd.read_sql("SELECT * FROM compras;", conn)

/tmp/ipykernel_1456/1021947071.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_compras = pd.read_sql("SELECT * FROM compras;", conn)

In [ ]:
df_compras

,id_compra,id_curso,id_usuario,fecha,fecha_visualizacion,fecha_inicio,fecha_fin,interrupcion,longitud,latitud,calificacion,costo_servicio
0,1,1,101,2023-10-01 08:00:00,2023-10-01 08:30:00,2023-10-01 09:00:00,2023-10-10 12:00:00,None,40.7128,-74.0060,4,49.99
1,2,2,102,2023-09-15 14:00:00,2023-09-16 10:30:00,2023-09-16 11:00:00,2023-09-25 17:00:00,None,34.0522,-118.2440,5,59.99
2,3,3,103,2023-08-20 09:00:00,2023-08-21 13:45:00,2023-08-21 14:00:00,2023-08-30 18:30:00,Interrupción técnica,41.8781,-87.6298,4,29.99
3,4,4,104,2023-07-05 11:30:00,2023-07-06 08:15:00,2023-07-06 08:30:00,2023-07-15 14:45:00,None,51.5074,-0.1278,3,39.99
4,5,5,105,2023-06-10 10:15:00,2023-06-11 10:30:00,2023-06-11 11:00:00,2023-06-20 15:30:00,None,35.6828,139.7590,5,49.99
5,6,6,106,2023-05-19 15:30:00,2023-05-20 09:45:00,2023-05-20 10:00:00,2023-05-29 13:30:00,None,48.8566,2.3522,4,44.99
6,7,7,107,2023-04-25 12:00:00,2023-04-26 14:30:00,2023-04-26 15:00:00,2023-05-05 17:15:00,Problema de conectividad,52.5200,13.4050,3,34.99
7,8,8,108,2023-03-01 15:30:00,2023-03-02 09:45:00,2023-03-02 10:00:00,2023-03-11 14:30:00,None,48.8566,2.3522,4,44.99
8,9,8,109,2023-02-05 12:00:00,2023-02-06 14:30:00,2023-02-06 15:00:00,2023-02-15 17:15:00,Problema de conectividad,40.7128,-74.0060,3,34.99
9,10,8,110,2023-01-15 10:00:00,2023-01-16 08:15:00,2023-01-16 08:30:00,2023-01-25 12:45:00,None,34.0522,-118.2440,5,59.99
10,11,8,111,2022-12-20 09:45:00,2022-12-21 13:00:00,2022-12-21 13:15:00,2022-12-30 16:30:00,Interrupción técnica,41.8781,-87.6298,4,29.99
11,12,8,112,2022-11-05 13:30:00,2022-11-06 09:45:00,2022-11-06 10:00:00,2022-11-15 14:30:00,None,51.5074,-0.1278,3,39.99
12,13,8,113,2022-10-10 10:15:00,2022-10-11 10:30:00,2022-10-11 11:00:00,2022-10-20 15:15:00,None,35.6828,139.7590,5,49.99

In [ ]:
df_compras.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id_compra            13 non-null     int64
 1   id_curso             13 non-null     int64
 2   id_usuario           13 non-null     int64
 3   fecha                13 non-null     datetime64[ns]
 4   fecha_visualizacion  13 non-null     datetime64[ns]
 5   fecha_inicio         13 non-null     datetime64[ns]
 6   fecha_fin            13 non-null     datetime64[ns]
 7   interrupcion         4 non-null      object
 8   longitud             13 non-null     float64
 9   latitud              13 non-null     float64
 10  calificacion         13 non-null     int64
 11  costo_servicio       13 non-null     float64
dtypes: datetime64[ns](4), float64(3), int64(4), object(1)
memory usage: 1.3+ KB

In [ ]:
filename = DB+'_' + str(datetime.now().date()) + '.csv'
filename

'coursera_2023-10-15.csv'

In [ ]:
df_compras.to_csv(filename, index=False, date_format='%Y-%M-%d')

# Udemy

In [ ]:
DB = 'Udemy'

In [3]:
conn = connector.connect(user=username,
                         password=password,
                         host=host,
                         database=DB)

In [4]:
df_compras = pd.read_sql("SELECT * FROM compras;", conn)

/tmp/ipykernel_1456/1021947071.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_compras = pd.read_sql("SELECT * FROM compras;", conn)

In [5]:
df_compras

,id_compra,id_curso,id_usuario,fecha,fecha_visualizacion,fecha_inicio,fecha_fin,interrupcion,longitud,latitud,calificacion,costo_servicio
0,1,1,101,2023-10-01 08:00:00,2023-10-01 08:30:00,2023-10-01 09:00:00,2023-10-10 12:00:00,None,40.7128,-74.0060,4,49.99
1,2,2,102,2023-09-15 14:00:00,2023-09-16 10:30:00,2023-09-16 11:00:00,2023-09-25 17:00:00,None,34.0522,-118.2440,5,59.99
2,3,3,103,2023-08-20 09:00:00,2023-08-21 13:45:00,2023-08-21 14:00:00,2023-08-30 18:30:00,Interrupción técnica,41.8781,-87.6298,4,29.99
3,4,4,104,2023-07-05 11:30:00,2023-07-06 08:15:00,2023-07-06 08:30:00,2023-07-15 14:45:00,None,51.5074,-0.1278,3,39.99
4,5,5,105,2023-06-10 10:15:00,2023-06-11 10:30:00,2023-06-11 11:00:00,2023-06-20 15:30:00,None,35.6828,139.7590,5,49.99
5,6,6,106,2023-05-19 15:30:00,2023-05-20 09:45:00,2023-05-20 10:00:00,2023-05-29 13:30:00,None,48.8566,2.3522,4,44.99
6,7,7,107,2023-04-25 12:00:00,2023-04-26 14:30:00,2023-04-26 15:00:00,2023-05-05 17:15:00,Problema de conectividad,52.5200,13.4050,3,34.99
7,8,8,108,2023-03-01 15:30:00,2023-03-02 09:45:00,2023-03-02 10:00:00,2023-03-11 14:30:00,None,48.8566,2.3522,4,44.99
8,9,8,109,2023-02-05 12:00:00,2023-02-06 14:30:00,2023-02-06 15:00:00,2023-02-15 17:15:00,Problema de conectividad,40.7128,-74.0060,3,34.99
9,10,8,110,2023-01-15 10:00:00,2023-01-16 08:15:00,2023-01-16 08:30:00,2023-01-25 12:45:00,None,34.0522,-118.2440,5,59.99
10,11,8,111,2022-12-20 09:45:00,2022-12-21 13:00:00,2022-12-21 13:15:00,2022-12-30 16:30:00,Interrupción técnica,41.8781,-87.6298,4,29.99
11,12,8,112,2022-11-05 13:30:00,2022-11-06 09:45:00,2022-11-06 10:00:00,2022-11-15 14:30:00,None,51.5074,-0.1278,3,39.99
12,13,8,113,2022-10-10 10:15:00,2022-10-11 10:30:00,2022-10-11 11:00:00,2022-10-20 15:15:00,None,35.6828,139.7590,5,49.99

In [6]:
df_compras.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id_compra            13 non-null     int64
 1   id_curso             13 non-null     int64
 2   id_usuario           13 non-null     int64
 3   fecha                13 non-null     datetime64[ns]
 4   fecha_visualizacion  13 non-null     datetime64[ns]
 5   fecha_inicio         13 non-null     datetime64[ns]
 6   fecha_fin            13 non-null     datetime64[ns]
 7   interrupcion         4 non-null      object
 8   longitud             13 non-null     float64
 9   latitud              13 non-null     float64
 10  calificacion         13 non-null     int64
 11  costo_servicio       13 non-null     float64
dtypes: datetime64[ns](4), float64(3), int64(4), object(1)
memory usage: 1.3+ KB

In [7]:
filename = DB+'_' + str(datetime.now().date()) + '.csv'
filename

'coursera_2023-10-15.csv'

In [8]:
df_compras.to_csv(filename, index=False, date_format='%Y-%M-%d')

In [9]:
str(datetime.now())

'2023-10-15 09:20:09.586688'